<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="postgreSql" type="Affecto.EntityFramework.PostgreSql.PostgreSqlConfiguration, Affecto.EntityFramework.PostgreSql" requirePermission="false" />
  </configSections>

  <specFlow>
    <unitTestProvider name="MsTest" />
  </specFlow>
  
  <appSettings>
    <!-- Use "Mozilla Firefox" if you want to see what Selenium is doing. If not, use "PhantomJS" -->
    <add key="browser" value="Mozilla Firefox" />

    <add key="applicationWebApiWarmUpUrl" value="https://---api_url---/v1/serviceregister/organizationtypes" />
    <add key="authenticationWebApiWarmUpUrl" value="https://---auth_server_url---/core/.well-known/openid-configuration" />
    <add key="applicationUrl" value="https://---ui_url---/#/" />

    <add key="failedTestFolder" value="\\---server---\TestResults\PTV\FailedBrowserTests\" />
    <add key="daysToKeepOldFailedTestData" value="7" />
  </appSettings>

  <postgreSql>
    <schemas>
      <schema key="ServiceRegisterContext" value="" />
      <schema key="IdentityManagementDbContext" value="" />
    </schemas>
  </postgreSql>

  <connectionStrings>
    <add name="ServiceRegisterContext" connectionString="" providerName="Npgsql" />
    <add name="IdentityManagementDbContext" connectionString="" providerName="Npgsql" />
  </connectionStrings>

  <entityFramework>
    <providers>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql"></provider>
    </providers>
    <defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, EntityFramework6.Npgsql" />
  </entityFramework>

  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>