<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <serviceRegisterApi baseUrl="#{UI.WebApiBaseUrl}" xdt:Transform="SetAttributes" />
  
  <accessTokenService
    url="#{Common.AccessTokenServiceUrl}"
    clientId="#{UI.AccessTokenServiceClientId}"
    clientSecret="#{UI.AccessTokenServiceClientSecret}"
    scope="#{UI.AccessTokenServiceScope}"
    xdt:Transform="Replace" />

  <log4net>
    <appender name="TextFileLogger" xdt:Locator="Match(name)">
      <file value="#{UI.LogFilePath}" xdt:Transform="SetAttributes" />
    </appender>
  </log4net>

  <system.webServer xdt:Transform="Replace">
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    #{UI.UrlRewriteConfigBlock}
  </system.webServer>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>