treecontrol {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @include rem(font-size, 14px);
    text-decoration: none;
}

treecontrol ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    overflow: hidden;
}

treecontrol li {
    position: relative;
    padding: 0;
    line-height: 20px;
	
	li {
		padding: 0 0 0 20px;
	}
}

treecontrol li.tree-expanded i.tree-normal, treecontrol li.tree-collapsed i.tree-normal {display:none;}
treecontrol li.tree-expanded i.tree-has-children, treecontrol li.tree-collapsed i.tree-has-children {display:inline;}
treecontrol li.tree-normal i.tree-has-children {display:none;}
treecontrol li.tree-normal i.tree-normal {display:inline;}

treecontrol li i {
    cursor: pointer;
}

treecontrol li .tree-label {
    cursor: pointer;
    display: inline;
	transition: background-color 0.15s, box-shadow 0.15s;
	padding: 1px 3px 1px 2px;
	border: 1px solid transparent;
	&:hover {
		background: #e7f4f9;
		box-shadow: 0 0 1px #ccc inset;
	}
}

treecontrol.tree-light li.tree-leaf i.tree-leaf-head  {
	&:before {
	 content: "";
	}
}

treecontrol.tree-light li.tree-expanded i.tree-branch-head{
    padding: 0;
	width: 16px;
	&:before {
			content: $chevron-circle-down;
			font-family: "icomoon";
			width: 14px;
			display: inline-block;
			padding-left: 2px;
			} 
}

treecontrol.tree-light li.tree-collapsed i.tree-branch-head {
    padding: 0;
	width: 16px;
	&:before {
			content: $chevron-circle-right;
			font-family: "icomoon";
			width: 14px;
			display: inline-block;
			padding-left: 2px;
			}
			
}

treecontrol.tree-light li.tree-normal i {
    padding: 0;
    width: 16px;
	height: 13px;
    background: none no-repeat;
}

treecontrol.tree-light li .tree-selected {
    font-weight:  normal; 
	color: #1272bf;
	background-color: #cce8ff;
	border: 1px solid #b2ddff;
	}

treecontrol li.tree-leaf i.tree-branch-head, treecontrol li.tree-expanded i.tree-leaf-head, treecontrol li.tree-collapsed i.tree-leaf-head {
    display: none;
} 
treecontrol li.tree-leaf i.tree-leaf-head {
    display: inline-block;
	width: 16px;
}

treecontrol.tree-organization {
	margin-bottom: 45px;
	display: block; 
	
	> ul {
	
		> li {
			> .branch-container {
			
				border-left: 5px solid $color-gray-4;
			
				.tree-label {
					@include rem(font-size, 22px);
				}
			}
		}
	}
		
	.branch-container {
		display: inline-block;
		background: #fff;
		border-left: 5px solid $color-gray-6;
		margin-bottom: 4px;
		box-shadow: 0 0 1px #828282 inset;
		
	
		&:hover {
			background: #f9f9f9;
			border-left: 5px solid $color-gray-5;
			.tree-label {
				color: $color-bright-azure-darker;
				text-decoration: underline;
			}
		}
	}
	
	.tree-selected {
		background: #fff;
		border-left-color: $color-persimmon!important;
		box-shadow: 0 0 1px $color-persimmon-dark inset;
		&:hover {
			background: #fff;
			border-left-color: #c44400!important;
			box-shadow: 0 0 1px $color-persimmon-darker inset;
			.tree-label {
				color: $color-gray-2;
			}	
		}
		.tree-label {
			font-weight: bold;
			color: $color-gray-2;
		}
	}
	
	.tree-leaf i.tree-leaf-head {
		width: auto;
		margin-left: -2px;
	}

	.tree-label {
	
		color: $color-gray-3;
		display: inline-block;
		padding: 6px 12px 6px 8px;
		@include rem(font-size, 15px);
		&:hover {
			background: transparent;
			box-shadow: none;
		}
		
	}
	
	
	li.tree-expanded {

		i.tree-branch-head{
			padding: 0;
			width: 24px;
			padding-left: 2px;
			margin-right: -4px;
			@include rem(font-size, 15px);
			color: $color-gray-5; 
			padding: 7px 5px;
			float: left;
			&:before {
				content: $chevron-circle-down;
				font-family: "icomoon";
				display: inline-block;
			} 
		}			
	}	
	


 li.tree-collapsed i.tree-branch-head {
    padding: 0;
	width: 16px;
	&:before {
			content: $chevron-circle-right;
			font-family: "icomoon";
			width: 14px;
			display: inline-block;
			padding-left: 2px;
			font-size: 16px; 
			color: $color-gray-6;
			background: #fff;
			}
}


	button {
		@include rem(font-size, 15px);
		padding: 3px 2px 4px 2px;
		margin-top: 6px;
		margin-left: 2px;
		margin-right: 0;
	}
}


treecontrol.tree-organization {

   li.tree-collapsed {

              i.tree-branch-head{
                     padding: 0;
                     width: 24px;
                     padding-left: 2px;
                     margin-right: -4px;
                     @include rem(font-size, 15px);
                     color: $color-gray-5; 
                     padding: 7px 5px;
                     float: left;
                     &:before {
                           content: $chevron-circle-right;
                           font-family: "icomoon";
                           display: inline-block;
                     } 
              }                    
       }
       
}
