@font-face {
    font-family: 'RobotoBlack';
    src: url('font/RobotoBlack.eot');
    src: url('font/RobotoBlack.eot') format('embedded-opentype'),
         url('font/RobotoBlack.woff2') format('woff2'),
         url('font/RobotoBlack.woff') format('woff'),
         url('font/RobotoBlack.ttf') format('truetype'),
         url('font/RobotoBlack.svg#RobotoBlack') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('font/RobotoBold.eot');
    src: url('font/RobotoBold.eot') format('embedded-opentype'),
         url('font/RobotoBold.woff2') format('woff2'),
         url('font/RobotoBold.woff') format('woff'),
         url('font/RobotoBold.ttf') format('truetype'),
         url('font/RobotoBold.svg#RobotoBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('font/RobotoMedium.eot');
    src: url('font/RobotoMedium.eot') format('embedded-opentype'),
         url('font/RobotoMedium.woff2') format('woff2'),
         url('font/RobotoMedium.woff') format('woff'),
         url('font/RobotoMedium.ttf') format('truetype'),
         url('font/RobotoMedium.svg#RobotoMedium') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
    font-family: 'RobotoLight';
    src: url('font/RobotoLight.eot');
    src: url('font/RobotoLight.eot') format('embedded-opentype'),
         url('font/RobotoLight.woff2') format('woff2'),
         url('font/RobotoLight.woff') format('woff'),
         url('font/RobotoLight.ttf') format('truetype'),
         url('font/RobotoLight.svg#RobotoLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'SourceSansProBold';
    src: url('font/SourceSansProBold.eot');
    src: url('font/SourceSansProBold.eot') format('embedded-opentype'),
         url('font/SourceSansProBold.woff2') format('woff2'),
         url('font/SourceSansProBold.woff') format('woff'),
         url('font/SourceSansProBold.ttf') format('truetype'),
         url('font/SourceSansProBold.svg#SourceSansProBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'SourceSansProRegular';
    src: url('font/SourceSansProRegular.eot');
    src: url('font/SourceSansProRegular.eot') format('embedded-opentype'),
         url('font/SourceSansProRegular.woff2') format('woff2'),
         url('font/SourceSansProRegular.woff') format('woff'),
         url('font/SourceSansProRegular.ttf') format('truetype'),
         url('font/SourceSansProRegular.svg#SourceSansProRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
  font-family: SourceSansProRegular, 'Helvetica Neue', Arial;
  -webkit-font-smoothing: antialiased;

}
