@media print {
.header-top h1 {position: static;}
.organization-map, .site-navigation, .main-navigation, .site-options, .nav-tabs, .tab-button-row .button, .button.edit {display: none;}
.dropdown-list-content {display: block;}
}