<article>
    <div class="overlay"></div>

    <div class="container">
        <h1 class="adding-wizard-header">Lisää uusi palvelu</h1>
        <div class="help-text">
            <p>
                Tässä osiossa voit lisätä uuden palvelun. Kuvaile palvelua mahdollisimman selkeästi, kattavasti ja asiakasystävällisesti. Älä siis kuvaa organisaatiota, sen tehtäviä tai tavoitteita, vaan palvelua, jota tarjotaan asiakkaalle.
                Ajattele loppukäyttäjän näkökulmasta: Mitä tietoja hän tarvitsee saadakseen kokonaiskuvan palvelusta ja tarjolla olevista palvelukanavista (sähköiset kanavat, palvelupisteet ja puhelinpalvelut) ja päästäkseen käyttämään palvelua?
            </p>
            <p>
                Lisää uusi palvelu täyttämällä vähintään pakollisiksi tiedoiksi merkityt kentät perustiedoista.
                Voit tallentaa palvelun keskeneräisenä painamalla "Tallenna keskeneräisenä" missä tahansa osiossa, kun osion pakolliset tiedot on syötetty,
                ja jatkaa työskentelyä myöhemmin. Palvelu tallennetaan myös joka kerta, kun siirryt vaiheiden välillä.
            </p>
        </div>
    </div>

    <div class="edit-area">
        <div class="container">
            <div class="page-title">
                <button id="cancelAddingServiceButton" type="submit" class="button remove" data-ng-click="controller.goToHomePage()"
                        data-ng-show="controller.canAddingBeCancelled()">
                    Keskeytä lisääminen
                </button>
            </div>
        </div>
    </div>

    <div id="step1" data-ng-class="{'edit-mode-active': controller.isBasicInformationBeingEdited(), 'edit-area': controller.isBasicInformationBeingEdited()}">
        <div class="container">
            <div class="phase-title">
                <span class="section-title">Uusi palvelu</span>
                <h3>Vaihe 1/2: Palvelun perustiedot</h3>
            </div>
            <form name="controller.basicInformationForm" unsaved-warning-form>
                <div class="content-box active">
                    <div class="content-box-inner" data-ng-include src="'App/Views/ServicePartials/EditBasicInformation.html'"></div>
                </div>
                <div class="button-row">
                    <div class="right">
                        <button id="addServiceFirstStepSaveAndQuitButton" type="submit" class="button cancel" data-ng-click="controller.saveBasicInformationAndQuit()"
                                data-ng-show="controller.isBasicInformationBeingEdited()"
                                data-ng-disabled="controller.basicInformationForm.$invalid">
                            Tallenna keskeneräisenä
                        </button>
                        <button id="addServiceSecondStepSaveAndMoveToNextStepButton" type="submit" class="button scroll-button" data-ng-click="controller.saveBasicInformationAndMoveToNextStep()"
                                data-ng-show="controller.isBasicInformationBeingEdited()" data-go-step="#step2"
                                data-ng-disabled="controller.basicInformationForm.$invalid">
                            Siirry seuraavaan
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="step2" data-ng-class="{'edit-mode-active': controller.areClassificationAndOnthologyTermsBeingEdited(), 'edit-area': controller.areClassificationAndOnthologyTermsBeingEdited()}">
        <div class="container">
            <div class="phase-title">
                <span class="section-title">Uusi palvelu</span>
                <h3>Vaihe 2/2: Luokittelut ja ontologiasanat</h3>
            </div>
            <form name="controller.classificationAndOnthologyTermsForm" unsaved-warning-form>
                <div class="content-box active">
                    <div class="content-box-inner" data-ng-include src="'App/Views/ServicePartials/EditClassificationAndOnthologyTerms.html'"></div>
                </div>
                <div class="button-row">
                    <div class="left">
                        <button type="submit" id="addServiceThirdStepPreviousButton" class="button scroll-button"
                                data-go-step="#step1" data-ng-click="controller.saveClassificationAndOnthologyTermsAndMoveToPreviousStep()"
                                data-ng-show="controller.areClassificationAndOnthologyTermsBeingEdited()">
                            Palaa edelliseen
                        </button>
                    </div>
                    <div class="right">
                        <button id="addServiceThirdStepSaveAndQuitButton" type="submit" class="button" data-ng-click="controller.saveClassificationAndOnthologyTermsAndQuit()"
                                data-ng-show="controller.areClassificationAndOnthologyTermsBeingEdited()"
                                data-ng-disabled="controller.classificationAndOnthologyTermsForm.$invalid || !controller.canSaveClassificationAndOnthologyTerms()">
                            Valmis
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</article>

<script>
    scrollView();
</script>