<article>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Palvelun katselu ja muokkaus</h1>
                <div class="help-text">
                    <p>
                        Palvelun katselu ja muokkaus -osiossa voit katsella oman organisaatiosi palveluita ja muokata niiden tietoja. Voit muokata yhtä osiota kerrallaan.
                        Kun olet tallentanut muokkaamasi osion tiedot, voit siirtyä muokkaamaan seuraavaa.
                    </p>
                </div>
                <div class="page-title">
                    <h2>{{ controller.model.name }}</h2>
                </div>
            </div>
        </div>
    </div>

    <div id="step1" data-ng-class="{'edit-mode-active': controller.isBasicInformationBeingEdited()}">
        <div class="container" data-ng-show="!controller.isBasicInformationBeingEdited()">
            <div class="content-box">
                <div class="content-box-header">
                    <h3>Perustiedot</h3>
                    <button id="editServiceBasicInformationButton" type="submit" class="button edit scroll-button" data-go-step="#step1" 
                            data-ng-click="controller.editBasicInformation()" data-ng-hide="controller.isServiceBeingEdited()">
                        Muokkaa
                    </button>
                </div>
                <div class="content-box-inner long-words-container" data-ng-include src="'App/Views/ServicePartials/ViewBasicInformation.html'"></div>
            </div>
        </div>
        <div class="container" data-ng-show="controller.isBasicInformationBeingEdited()">
            <form class="form-horizontal" name="controller.basicInformationForm" unsaved-warning-form>
                <div class="content-box">
                    <div class="content-box-header">
                        <h3>Perustiedot</h3>
                        <button id="saveServiceBasicInformationButton" type="submit" class="button save" data-ng-click="controller.saveEditedBasicInformation()"
                                data-ng-disabled="controller.basicInformationForm.$invalid || controller.basicInformationForm.$pristine">
                            Tallenna
                        </button>
                        <button id="cancelEditingServiceBasicInformation" type="submit" class="button cancel" data-ng-click="controller.cancelEditing()">
                            Peruuta
                        </button>
                    </div>
                    <div class="content-box-inner" data-ng-include src="'App/Views/ServicePartials/EditBasicInformation.html'"></div>
                </div>
            </form>
        </div>
    </div>

    <div id="step2" data-ng-class="{'edit-mode-active': controller.areClassificationAndOnthologyTermsBeingEdited()}">
        <div class="container" data-ng-show="!controller.areClassificationAndOnthologyTermsBeingEdited()">
            <div class="content-box">
                <div class="content-box-header">
                    <h3>Luokittelut ja ontologiasanat</h3>
                    <button id="editClassificationAndOnthologyTermsButton" type="submit" class="button edit scroll-button" data-go-step="#step2"
                            data-ng-click="controller.editClassificationAndOnthologyTerms()" data-ng-hide="controller.isServiceBeingEdited()">
                        Muokkaa
                    </button>
                </div>
                <div class="content-box-inner" data-ng-include src="'App/Views/ServicePartials/ViewClassificationAndOnthologyTerms.html'"></div>
            </div>
        </div>
        <div class="container" data-ng-show="controller.areClassificationAndOnthologyTermsBeingEdited()">
            <form class="form-horizontal" name="controller.classificationAndOnthologyTermsForm" unsaved-warning-form>
                <div class="content-box">
                    <div class="content-box-header">
                        <h3>Luokittelut ja ontologiasanat</h3>
                        <button id="saveClassificationAndOnthologyTermsButton" type="submit" class="button save" data-ng-click="controller.saveEditedClassificationAndOnthologyTerms()"
                                data-ng-disabled="controller.classificationAndOnthologyTermsForm.$pristine || controller.classificationAndOnthologyTermsForm.$invalid || !controller.canSaveClassificationAndOnthologyTerms()">
                            Tallenna
                        </button>
                        <button id="cancelEditingServiceClassificationInformation" type="submit" class="button cancel" data-ng-click="controller.cancelEditing()">
                            Peruuta
                        </button>
                    </div>
                    <div class="content-box-inner" data-ng-include src="'App/Views/ServicePartials/EditClassificationAndOnthologyTerms.html'"></div>
                </div>
            </form>
        </div>
    </div>
</article>

<script>
    scrollView();
</script>
