<article>
    <div class="container">
        <div class="col-xs-12">
            <h1>Palvelut</h1>
            <div class="help-text">
                <p>
                    Palvelut -osiossa voit lisätä uusia palveluita ja liittää niihin palvelukanavia sekä hakea ja muokata olemassa olevia oman organisaatiosi palveluita ja tarvittaessa poistaa tarpeettomia palveluita.
                </p>
            </div>
            <div class="button-row">
                <div class="left">
                    <a data-ng-href="#/Organizations/{{ controller.organizationId }}/NewService" class="button">Lisää palvelu</a>
                </div>
            </div>
            <div class="services-landing">
                <table id="organizationServiceListTable" class="content-table common-descriptions">
                    <tbody>
                        <tr>
                            <th>Nimi</th>
                            <th>Palveluluokat</th>
                            <th>Ontologiasanat</th>
                        </tr>
                        <tr data-ng-repeat="service in controller.model | orderBy: 'name'">
                            <td><a data-ng-href="#/Organizations/{{ controller.organizationId }}/Services/{{ service.id }}">{{ service.name }}</a></td>
                            <td>{{ service.serviceClasses }}</td>
                            <td>{{ service.ontologyTerms }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</article>
