<article>
    <div data-ng-controller="ServiceRegister.UserController as controller ">
        <div class="container">
            <div class="page-title">
                <h2>{{ controller.model.lastName }}&nbsp;{{ controller.model.firstName }}</h2>
            </div>
        </div>
       
        <!-- view user information -->
        <div class="container" >
            <div class="content-box" data-ng-show="!controller.isUserInformationBeingEdited()">
                <div class="content-box-header">
                    <h3>Käyttäjän tiedot</h3>
                    <button type="submit" class="button edit scroll-button" data-ng-click="controller.editUserInformation()"
                            data-ng-hide="controller.isUserBeingEdited()">
                        Muokkaa
                    </button>
                    <button type="submit" class="button cancel" data-ng-click="controller.deleteUser()">
                        Poista
                    </button>
                </div>

                <div class="content-box-inner">
                    <div class="row">
                        <div class="col-xs-6">
                            <label>Sukunimi</label>
                            {{ controller.model.lastName }}
                        </div>
                        <div class="col-xs-6">
                            <label>Etunimi</label>
                            {{ controller.model.firstName }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <label>Käyttäjätunnus</label>
                            {{ controller.model.userId }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <label>Sähköpostiosoite</label>
                            {{ controller.model.emailAddress }}
                        </div>

                        <div class="col-xs-6">
                            <label>Puhelinnumero</label>
                            {{ controller.model.phoneNumber }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <label>Organisaatio</label>
                            {{ controller.model.userOrganization.name }}
                        </div>

                        <div class="col-xs-6">
                            <label>Rooli</label>
                            {{ controller.model.userRole.roleName }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- edit user information -->
        <div  data-ng-show="controller.isUserInformationBeingEdited()">
            <div class="container">
                <form class="form-horizontal" name="controller.userInformationForm" unsaved-warning-form>
                    <div class="content-box">
                        <div class="content-box-header">
                            <h3>Käyttäjän tiedot</h3>
                            <button type="submit" class="button edit" data-ng-click="controller.saveUserInformation()"
                                    data-ng-disabled="controller.userInformationForm.$invalid || !controller.canSave() || controller.userInformationForm.$pristine">
                                Tallenna
                            </button>
                            <button type="submit" class="button cancel" data-ng-click="controller.cancelEditing()">
                                Keskeytä
                            </button>
                        </div>

                        <div class="content-box-inner">

                            <div class="row">
                                <div class="col-xs-6">
                                    <label>Sukunimi</label>
                                    <input type="text" class="form-control" maxlength="100" data-ng-model="controller.model.lastName" data-ng-required="true"/>
                                </div>
                                <div class="col-xs-6">
                                    <label>Etunimi</label>
                                    <input type="text" class="form-control" maxlength="100" data-ng-model="controller.model.firstName" data-ng-required="true"/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <label>Käyttäjätunnus</label>
                                    <input type="text" class="form-control" maxlength="100" data-ng-model="controller.model.userId" data-ng-required="true"/>
                                </div>
                                <div class="col-xs-6">
                                    <label>Salasana</label>
                                    <input type="text" class="form-control" maxlength="100" data-ng-model="controller.model.password" data-ng-required="false"/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <label>Sähköpostiosoite</label>
                                    <input type="text" id="emailAddress" class="form-control" name="emailAddress" maxlength="200" data-ng-model="controller.model.emailAddress"
                                           data-ng-blur="controller.validateEmailAddress()" data-ng-required="false">
                                    <span aria-live="polite" class="validation-message" data-ng-show="!controller.validEmailAddress">
                                        Virheellinen sähköpostiosoite
                                    </span>
                                </div>
                                <div class="col-xs-6">
                                    <label>Puhelinnumero</label>
                                    <input type="text" id="phoneNumber" class="form-control" name="phoneNumber" maxlength="50" data-ng-model="controller.model.phoneNumber"
                                           data-ng-blur="controller.validatePhoneNumber()" data-ng-required="false">
                                    <span aria-live="polite" class="validation-message" data-ng-show="!controller.validPhoneNumber">
                                        Virheellinen puhelinnumero
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <label>Organisaatio</label>
                                    <select class="form-control" data-ng-model="controller.model.userOrganization" data-ng-options="org.name for org in controller.organizations track by org.organizationId"
                                            data-ng-required="true"></select>
                                </div>
                                <div class="col-xs-6">
                                    <label>Rooli</label>
                                    <select class="form-control" data-ng-model="controller.model.userRole" data-ng-options="role.roleName for role in controller.userRoles track by role.roleId"
                                            data-ng-required="true"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</article>
