<div class="row">
    <div class="col-xs-6">
        <label>Katuosoite</label>
        <input id="visitingStreetAddress" type="text" class="form-control" maxlength="200" data-ng-model="controller.model.visitingStreetAddress" 
               data-ng-required="controller.model.hasVisitingAddressParts()" />
    </div>
    <div class="col-xs-3">
        <label>Postinumero</label>
        <input id="visitingAddressPostalCode" type="text" class="form-control" name="postalCode" maxlength="5" data-ng-model="controller.model.visitingAddressPostalCode"
               data-ng-required="controller.model.hasVisitingAddressParts()" data-ng-blur="controller.validateVisitingAddressPostalCode()" />
        <span aria-live="polite" class="validation-message" data-ng-show="!controller.validVisitingAddressPostalCode">
            Postinumero on viisi numeroa
        </span>
    </div>
    <div class="col-xs-3">
        <label>Postitoimipaikka</label>
        <input id="visitingAddressPostalDistrict" type="text" class="form-control" maxlength="100" data-ng-model="controller.model.visitingAddressPostalDistrict" 
               data-ng-required="controller.model.hasVisitingAddressParts()" />
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <label>
            Osoitetarkenne
            <affecto-help-popup paragraphs='["Osoitetarkenne-kenttään voi tarvittaessa kirjottaa tekstimuodossa osoitetta täsmentävän tiedon esim. \"Oikeus- ja poliisitalo\"."]'/>
        </label>
        <input id="visitingAddressQualifier" type="text" class="form-control" maxlength="500" data-ng-model="controller.model.visitingAddressQualifier" />
    </div>
    <div class="col-xs-3"></div>
    <div class="col-xs-3"></div>
</div>
