<div class="row">
    <div class="col-xs-6">
        <label>
            Organisaatiotyyppi*
            <affecto-help-popup paragraphs='["Valitse valikosta organisaatiotyyppi, jota organisaatiosi edustaa. Mikäli valitset organisaatiotyypiksi \"Kunta\", tulee sinun syöttää erilliseen kenttään myös kuntasi kuntanumero."]' />
        </label>
        <select id="organizationType" class="form-control" data-ng-model="controller.model.typeProperty"
                data-ng-options="pt for pt in controller.organizationTypes" data-ng-required="true"></select>
    </div>
    <div id="organizationTypeDiv" class="col-xs-6" data-ng-show="controller.model.isMunicipality()">
        <label class="mandatory-field">Kunnan numero</label>
        <input id="organizationMunicipalityCode" type="number" class="form-control" name="municipalityCode" maxlength="3" min="1" placeholder="Kirjoita kolminumeroinen kuntanumero"
               data-ng-model="controller.model.municipalityCode" data-ng-required="controller.model.isMunicipality()" />
        <div aria-live="polite" class="validation-message" data-ng-show="controller.basicInformationForm.municipalityCode.$error.maxlength">
            Kuntanumero on yhdestä kolmeen numeroa
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <label>
            Nimi*
            <affecto-help-popup paragraphs='["Kirjoita kenttään organisaation virallinen nimi. Kirjoita nimi auki, älä käytä lyhenteitä."]' />
        </label>
        <input id="organizationName" type="text" class="form-control" maxlength="100" placeholder="Kirjoita organisaation tai alaorganisaation nimi"
               data-ng-model="controller.model.name" data-ng-required="true" />
    </div>
    <div class="col-xs-6">
        <label>
            {{ controller.editBusinessIdentifierLabel }}
            <affecto-help-popup paragraphs='["Kirjota kenttään organisaatiosi Y-tunnus. Jos et muista sitä, voit hakea Y-tunnuksen <a href=\"https://www.ytj.fi/yrityshaku.aspx?path=1547;1631;1678&kielikoodi=1\" target=\"_blank\">Yritys- ja yhteisötietojärjestelmästä (YTJ).</a>",
                                "Tarkista oman organisaatiosi Y-tunnuksen käytön käytäntö: Joillain organisaatioilla on vain yksi yhteinen Y-tunnus, toisilla myös alaorganisaatioilla on omat Y-tunnuksensa. Varmista, että annat alaorganisaatiolle oikean Y-tunnuksen."]' />
        </label>
        <input id="organizationBusinessId" type="text" class="form-control" name="businessId" maxlength="9" data-ng-model="controller.model.businessId"
               data-ng-required="!controller.isSubOrganizationBeingAdded()" data-ng-blur="controller.validateBusinessId()" />
        <div id="organizationBusinessIdErrorMessage" aria-live="polite" class="validation-message" data-ng-show="!controller.validBusinessId">
            {{ controller.businessIdErrorMessage }}
        </div>
    </div>
</div>
<div class="row">
    <label>
        Kuvaus
        <affecto-help-popup paragraphs='["Kirjoita organisaatiolle lyhyt, käyttäjäystävällinen kuvaus. Mikä tämä (ala)organisaatio on ja mitä se tekee organisaation palveluita käyttävän asiakkaan näkökulmasta? Alä mainosta vaan kuvaa neutraalisti organisaation ydintehtävä. Kuvaus saa olla korkeintaan 4000 merkkiä pitkä."]' />
    </label>
    <textarea id="organizationDescription" name="organizationDescription" data-ng-maxlength="4000" class="form-control" data-ng-model="controller.model.description"></textarea>
    <p aria-live="polite" class="validation-message" data-ng-show="controller.basicInformationForm.organizationDescription.$error.maxlength">Kuvauksen maksimipituus on 4000 merkkiä</p>
</div>
<div class="row">
    <div class="col-xs-6">
        <label>
            OID
            <affecto-help-popup paragraphs='["Jos omalla organisaatiollasi tai toimialallasi on käytössä oma organisaatio-OID-luokitus (tällainen on olemassa esimerkiksi sote-sektorilla), kirjoita tähän tämän luokituksen mukainen organisaatio-OID."]' />
        </label>
        <input id="organizationOid" type="text" class="form-control" maxlength="100" data-ng-model="controller.model.oid" />
    </div>
    <div class="col-xs-6">
    </div>
</div>
