<div class="row">
    <div class="col-xs-6">
        <label>Sähköpostiosoite</label>
        <span>{{ controller.model.emailAddress }}</span>
    </div>
    <div class="col-xs-6">
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <label>Vaihteen puhelinnumero</label>
        {{ controller.model.phoneNumber }}
    </div>
    <div class="col-xs-8">
        <label>Puhelun hintatiedot</label>
        <span>{{ controller.model.phoneCallFee }}</span>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <label>Verkkosivun tyyppi</label>
    </div>
    <div class="col-xs-4">
        <label>Verkkosivun nimi</label>
    </div>
    <div class="col-xs-4">
        <label>Verkkosivun osoite </label>
    </div>
</div>
<div class="row website-row" data-ng-repeat="webPage in controller.model.webPages | orderBy: 'name'">
    <div class="col-xs-4">
        <span>{{ webPage.type }}</span>
    </div>
    <div class="col-xs-4">
        <span>{{ webPage.name }}</span>
    </div>
    <div class="col-xs-4">
        <span>
            <a href="{{ webPage.address }}" target="_blank">{{ webPage.address }}</a>
        </span>
    </div>
</div>
