<div class="row">
    <div class="col-xs-6">
        <label>Katuosoite</label>
        {{ controller.model.visitingStreetAddress }}
    </div>
    <div class="col-xs-3">
        <label>Postinumero</label>
        {{ controller.model.visitingAddressPostalCode }}
    </div>
    <div class="col-xs-3">
        <label>Postitoimipaikka</label>
        {{ controller.model.visitingAddressPostalDistrict }}
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <label>Osoitetarkenne</label>
        <span>{{ controller.model.visitingAddressQualifier }}</span>
    </div>
</div>
