<div class="row">
    <div class="col-xs-6">
        <label>Katuosoite</label>
        {{ controller.model.effectivePostalStreetAddressStreet }}
    </div>
    <div class="col-xs-3">
        <label>Postinumero</label>
        {{ controller.model.effectivePostalStreetAddressPostalCode }}
    </div>
    <div class="col-xs-3">
        <label>Postitoimipaikka</label>
        {{ controller.model.effectivePostalStreetAddressPostalDistrict }}
    </div>
</div>
<div class="row" data-ng-show="controller.model.hasPostalPostOfficeBoxAddressPostalCode()">
    <div class="col-xs-6">
        <label>Postilokero</label>
        <span>PL {{ controller.model.postalPostOfficeBoxAddressPostOfficeBox }}</span>
    </div>
    <div class="col-xs-3">
        <label>Postinumero</label>
        {{ controller.model.postalPostOfficeBoxAddressPostalCode }}
    </div>
    <div class="col-xs-3">
        <label>Postitoimipaikka</label>
        {{ controller.model.postalPostOfficeBoxAddressPostalDistrict }}
    </div>
</div>
