<?xml version="1.0"?>

<connectionStrings>
  <add name="ServiceRegisterContext" connectionString="Username=;Password=;Host=;Database=;CommandTimeout=60" providerName="Npgsql" />
  <add name="IdentityManagementDbContext" connectionString="Username=;Password=;Host=;Database=" providerName="Npgsql" />
</connectionStrings>