<div class="content-box" data-ng-show="!controller.isBasicInformationBeingEdited()">
    <div class="content-box-header">
        <h3>Perustiedot</h3>
        <span aria-hidden="true" class="icon-arrow"></span>
        <button type="submit" class="button edit scroll-button" data-ng-click="controller.editServiceBasicInformation()"
                data-ng-hide="controller.isOrganizationBeingEdited()">
            Muokkaa
        </button>
    </div>

    <div class="content-box-inner">
        <div class="row">
            <div class="col-xs-6">
                <label>Nimi</label>
                {{ controller.model.name }}
            </div>
            <div class="col-xs-6">
                <label>Automaattinen tunniste</label>
                {{ controller.model.numericId }}
            </div>
        </div>
        <div class="row">
            <label>Kansankielinen nimi</label>
            {{ controller.model.alternameName }}
        </div>
        <div class="row">
            <label>Palvelupisteestä vastuussa oleva organisaatio</label>
            {{ controller.model.shortDescription }}
        </div>
        <div class="row">
            <label>Lyhyt kuvaus</label>
            {{ controller.model.shortDescription }}
        </div>
        <div class="row">
            <label>Kuvaus</label>
            {{ controller.model.description }}
        </div>
        <div class="row">
            <label>Toimintaohjeet</label>
            {{ controller.model.userInstruction }}
        </div>
        <div class="row">
            <label>Palvelun edellytykset</label>
            {{ controller.model.requirement }}
        </div>

        <div class="row">
            <label>Kieli jolla palvelu on saatavilla</label>
            {{ controller.model.language }}
        </div>
    </div>
</div>