<div class="row">
    <div class="col-xs-6">
        <label>
            Nimi*
            <affecto-help-popup paragraphs='["Kirjoita palvelua kuvaava, asiakaslähtöinen nimi. Älä kirjoita organisaation nimeä palvelun nimeen."]' />
        </label>
        <input id="serviceName" type="text" class="form-control" maxlength="100" data-ng-model="controller.model.name" data-ng-required="true" />
    </div>
    <div class="col-xs-6">
        <label>Vaihtoehtoinen nimi</label>
        <input id="serviceAlternateName" type="text" class="form-control" maxlength="100" placeholder="Muu nimi, jolla käyttäjä saattaa hakea palvelua"
               data-ng-model="controller.model.alternateName" />
    </div>
</div>
<div class="row">
    <label>Lyhyt kuvaus* <small>(max. 150 merkkiä)</small></label>
    <textarea id="serviceShortDescription" name="serviceShortDescription" data-ng-maxlength="150"
              placeholder="Kirjoita lyhyt, ytimekäs kuvaus palvelun keskeisestä sisällöstä. Lyhyt kuvaus esitetään hakutuloksissa ja se auttaa hakukoneita löytämään palvelun."
              class="form-control" data-ng-model="controller.model.shortDescription" data-ng-required="true"></textarea>
    <p aria-live="polite" class="validation-message" data-ng-show="controller.basicInformationForm.serviceShortDescription.$error.maxlength">Lyhyen kuvauksen maksimipituus on 150 merkkiä</p>
</div>

<div class="row">
    <label>
        Kuvaus*
        <affecto-help-popup paragraphs='["Kuvaa palvelu mahdollisimman selkeästi ja asiakkaan kannalta ymmärrettävästi. Esimerkiksi kerro, mitä palvelu pitää sisällään, mihin tarpeeseen se vastaa ja mihin sillä pyritään. Käytä selkeää yleiskieltä, ei hallinnollisia termejä. Kuvaa asiakkaalle tarjottavaa palvelua, älä palvelua järjestävää organisaatiota tai sen tehtäviä!"]' />
    </label>
    <textarea id="serviceDescription" name="serviceDescription" data-ng-maxlength="4000" class="big-textfield form-control" data-ng-model="controller.model.description" data-ng-required="true"></textarea>
    <p aria-live="polite" class="validation-message" data-ng-show="controller.basicInformationForm.serviceDescription.$error.maxlength">Kuvauksen maksimipituus on 4000 merkkiä</p>
</div>
<div class="row">
    <label>
        Toimintaohjeet
        <affecto-help-popup paragraphs='["Jos palvelun käyttö tai etuuden hakeminen edellyttää tiettyä toimintajärjestystä tai tietynlaista toimintatapaa, kuvaa se tähän mahdollisimman tarkasti. Esimerkiksi jos jokin palvelukanava on ensisijainen, kerro se tässä. \"Käytä ilmoittautumiseen ensisijaisesti sähköistä asiointipalvelua.\""]' />
    </label>
    <textarea id="serviceUserInstruction" name="serviceUserInstruction" data-ng-maxlength="4000" class="big-textfield form-control" data-ng-model="controller.model.userInstruction"></textarea>
    <p aria-live="polite" class="validation-message" data-ng-show="controller.basicInformationForm.serviceUserInstruction.$error.maxlength">Toimintaohjeiden maksimipituus on 4000 merkkiä</p>
</div>
<div class="row">
    <label>
        Palvelun käytön edellytykset
        <affecto-help-popup paragraphs='["Mikäli palvelua saa vain tietyin edellytyksin, kuvaa sanallisesti nämä edellytykset, ehdot ja kriteerit. Esim. \"Palvelun piiriin kuuluvat vain työttömyysuhan alla olevat henkilöt\"."]' />
    </label>
    <textarea id="serviceRequirement" name="serviceRequirement" data-ng-maxlength="4000" class="big-textfield form-control" data-ng-model="controller.model.requirement"></textarea>
    <p aria-live="polite" class="validation-message" data-ng-show="controller.basicInformationForm.serviceRequirement.$error.maxlength">Palvelun käytön edellytysten maksimipituus on 4000 merkkiä</p>
</div>
<div class="row">
    <div class="col-xs-6">
        <label>
            Kielet, joilla palvelu on saatavilla*
            <affecto-help-popup paragraphs='["Valitse tähän kielet, joilla palvelua tarjotaan asiakkaalle. Aloita kielen nimen kirjoittaminen, niin saat näkyviin kielilistan, josta voit valita kielet."]' />
        </label>
        <select data-chosen data-no-results-text="'Ei tuloksia haulla'" multiple id="serviceLanguages" class="form-control" data-placeholder=" "
                data-ng-model="controller.selectedLanguages" data-ng-options="lang.name for lang in controller.languages.value" data-ng-required="true">
        </select>
    </div>
    <div class="col-xs-6">
        <label>Palvelukokonaisuus</label>
        Omassa organisaatiossa ei palvelukokonaisuuksia
    </div>
</div>
