<div class="row">
    <label>
        Palveluluokat* <small>Valitse palvelulle mahdollisimman tarkasti vähintään yksi palveluluokka.</small>
        <affecto-help-popup paragraphs='["Palveluluokka on aiheluokitus, jonka mukaan palveluita jaotellaan. Palveluiden luokittelu aiheen mukaan helpottaa mm. niiden löytymistä haussa. Palvelu voi kuulua yhteen tai useampaan eri palveluluokkaan.",
                            "Valitse vähintään yksi päätason palveluluokka ja jos mahdollista, myös toisen tason luokka, jotta valinta on mahdollisimman tarkalla tasolla. Et voi valita alemman tason palveluluokkaa valitsematta myös päätasoa. Vähintään yhden palveluluokan valitseminen on pakollista.",
                            "Palvelutietovarannon palveluluokitus perustuu Suositukseen julkisen hallinnon palvelujen luokituksista ja metatiedoista verkkopalveluissa (JHS 183)."]' />
    </label>
    <div class="col-xs-5">
        <div class="ui-tree-container">
            <input id="serviceClassSearchInput" type="text" value="" class="ui-list-search" data-ng-model="controller.serviceClassPredicate"
                   data-ng-change="controller.setExpandedServiceClasses()">
            <span class="icon icon-search"> </span>
            <div class="ui-tree-container2">
                <treecontrol id="serviceClassTree" class="tree-light" data-tree-model="controller.serviceClasses.available"
                             expanded-nodes="controller.serviceClasses.expandedAvailable" data-on-selection="controller.serviceClasses.toggleSelection(node.id, selected)"
                             filter-expression="controller.serviceClassPredicate" filter-comparator="false">
                    {{ node.name }}
                </treecontrol>
            </div>
        </div>
    </div>
    <div class="col-xs-2">
        <input id="addServiceClassArrow" type="button" data-ng-disabled="!controller.serviceClasses.isClassSelected()" data-ng-click="controller.addSelectedServiceClass()"
               value=" &gt;&gt;">
    </div>
    <div class="col-xs-5">
        <div class="tag-list-long">
            <div class="tag-container">
                <p>
                    <label>Valitut palveluluokat:</label>
                </p>
                <ol id="selectedServiceClassesList">
                    <li data-ng-repeat="node in controller.serviceClasses.added | orderBy: 'name'">
                        <span class="tag">
                            <span>{{ node.name }}</span>
                            <span class="remove" data-ng-click="controller.removeServiceClass(node.id)"></span>
                        </span>
                        <ol>
                            <li data-ng-repeat="node in node.children | orderBy: 'name'">
                                <span class="tag">
                                    <span>{{ node.name }}</span>
                                    <span class="remove" data-ng-click="controller.removeServiceClass(node.id)"></span>
                                </span>
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <label>
        Ontologiasanat* <small>Valitse vähintään yksi palvelun sisältöä mahdollisimman tarkasti kuvaava ontologiasana.</small>
        <affecto-help-popup paragraphs='["Palvelutietovarannossa palveluiden asiasisältö kuvataan ontologiasanoilla, jotka ovat tietokoneluettavia, mahdollisimman yksiselitteisiä käsitteitä. Ontologiasanojen käyttö helpottaa palveluiden löytämistä. Kirjoita kenttään palvelun asiasisältöä mahdollisimman tarkasti kuvaava käsite ja valitse ennakoivan tekstinsyötön tarjoamista vaihtoehdoista ontologiasana. Valitse palvelun kuvaamiseksi vähintään yksi ja enintään kymmenen mahdollisimman tarkkaa ontologiasanaa."]' />
    </label>
    <div class="col-xs-5">
        <div class="ui-tree-container">
            <input id="ontologyTermSearchInput" type="text" value="" class="ui-list-search" autocomplete="off" data-ng-model="controller.ontologyTermPredicate"
                   data-ng-change="controller.searchOntologyTerms()">
            <span class="icon icon-search"> </span>
            <select multiple id="ontologyTermList" class="ui-tree-container2" size="10" data-ng-model="controller.ontologyTerms.selected"
                    data-ng-options="term.name for term in controller.ontologyTerms.available"></select>
        </div>
    </div>
    <div class="col-xs-2">
        <input id="addOntologyTermArrow" type="button" data-ng-disabled="!controller.ontologyTerms.isTermSelected()" data-ng-click="controller.addSelectedOntologyTerm()"
               value=" &gt;&gt;">
    </div>
    <div class="col-xs-5">
        <div class="tag-list-long">
            <div class="tag-container">
                <p>
                    <label>Valitut ontologiasanat:</label>
                </p>
                <ol id="selectedOntologyTermsList">
                    <li data-ng-repeat="node in controller.ontologyTerms.added | orderBy: 'name'">
                        <span class="tag">
                            <span>{{ node.name }}</span>
                            <span class="remove" data-ng-click="controller.removeOntologyTerm(node.id)"></span>
                        </span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <label>
        Kohderyhmät* <small>Valitse palvelulle vähintään yksi päätason kohderyhmä.</small>
        <affecto-help-popup paragraphs='["Palvelutietovarannossa palvelut luokitellaan myös kohderyhmän mukaan. Kohderyhmäluokituksella jaotellaan palvelut sen mukaan, onko ne suunnattu kansalaisille, yrityksille vai virkamiehille. Valitse vähintään yksi päätason kohderyhmä (kansalaiset, yritykset, virkamiehet). Voit valita tarvittaessa myös useamman päätason. Tarvittaessa tarkenna pääkohderyhmävalintaa alakohderyhmällä. Jos palvelulla ei ole erityistä alakohderyhmää, ÄLÄ valitse kaikkia alemman tason kohderyhmiä, vaan jätä alemman tason valinta kokonaan tekemättä."]' />
    </label>
    <div class="col-xs-5">
        <div class="ui-tree-container">
            <input id="targetGroupSearchInput" type="text" value="" class="ui-list-search" data-ng-model="controller.targetGroupPredicate"
                   data-ng-change="controller.setExpandedTargetGroups()">
            <span class="icon icon-search"> </span>
            <div class="ui-tree-container2">
                <treecontrol id="targetGroupTree" class="tree-light" data-tree-model="controller.targetGroups.available" expanded-nodes="controller.targetGroups.expandedAvailable"
                             data-on-selection="controller.targetGroups.toggleSelection(node.id, selected)" filter-expression="controller.targetGroupPredicate"
                             filter-comparator="false">
                    {{ node.name }}
                </treecontrol>
            </div>
        </div>
    </div>
    <div class="col-xs-2">
        <input id="addTargetGroupArrow" type="button" data-ng-disabled="!controller.targetGroups.isClassSelected()" data-ng-click="controller.addSelectedTargetGroup()"
               value=" &gt;&gt;">
    </div>
    <div class="col-xs-5">
        <div class="tag-list-long">
            <div class="tag-container">
                <p>
                    <label>Valitut kohderyhmät:</label>
                </p>
                <ol id="selectedTargetGroupsList">
                    <li data-ng-repeat="node in controller.targetGroups.added | orderBy: 'name'">
                        <span class="tag">
                            <span>{{ node.name }}</span>
                            <span class="remove" data-ng-click="controller.removeTargetGroup(node.id)"></span>
                        </span>
                        <ol>
                            <li data-ng-repeat="node in node.children | orderBy: 'name'">
                                <span class="tag">
                                    <span>{{ node.name }}</span>
                                    <span class="remove" data-ng-click="controller.removeTargetGroup(node.id)"></span>
                                </span>
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <label>
        Elämäntilanteet <small>Mikäli palveluun liittyy elämäntilanne, voit valita sen alta.</small>
        <affecto-help-popup paragraphs='["Elämäntilanne on lyhytkestoinen, suhteellisen suurta väestöryhmää koskettava muutoksen ajanjakso, jossa asiakas tarvitsee erityistä tukea ja jossa on tarjolla useiden eri organisaatioiden tarjoamia palveluita ja etuisuuksia. Palvelut luokitellaan palvelutietovarannossa elämäntilanteen mukaan, jotta jatkossa voitaisiin tuottaa ja ryhmitellä käyttäjille sisältöä tiettyyn elämäntilanteeseen liittyen.",
                            "Jos palvelu on tarpeellinen tietyssä elämäntilanteessa, valitse luettelosta yksi tai useampi palveluun liittyvä. Jos palvelu ei suoraan liity tiettyyn elämäntilanteeseen, ÄLÄ valitse kaikkia elämäntilanteita, vaan jätä elämäntilanteen valinta tekemättä."]' />
    </label>
    <div class="col-xs-5">
        <div class="ui-tree-container">
            <input id="lifeEventSearchInput" type="text" value="" class="ui-list-search" data-ng-model="controller.lifeEventPredicate"
                   data-ng-change="controller.setExpandedLifeEvents()">
            <span class="icon icon-search"> </span>
            <div class="ui-tree-container2">
                <treecontrol id="lifeEventTree" class="tree-light" data-tree-model="controller.lifeEvents.available" expanded-nodes="controller.lifeEvents.expandedAvailable"
                             data-on-selection="controller.lifeEvents.toggleSelection(node.id, selected)" filter-expression="controller.lifeEventPredicate" filter-comparator="false">
                    {{ node.name }}
                </treecontrol>
            </div>
        </div>
    </div>
    <div class="col-xs-2">
        <input id="addLifeEventArrow" type="button" data-ng-disabled="!controller.lifeEvents.isClassSelected()" data-ng-click="controller.addSelectedLifeEvent()" value=" &gt;&gt;">
    </div>
    <div class="col-xs-5">
        <div class="tag-list-long">
            <div class="tag-container">
                <p>
                    <label>Valitut elämäntilanteet:</label>
                </p>
                <ol id="selectedLifeEventsList">
                    <li data-ng-repeat="node in controller.lifeEvents.added | orderBy: 'name'">
                        <span class="tag">
                            <span>{{ node.name }}</span>
                            <span class="remove" data-ng-click="controller.removeLifeEvent(node.id)"></span>
                        </span>
                        <ol>
                            <li data-ng-repeat="node in node.children | orderBy: 'name'">
                                <span class="tag">
                                    <span>{{ node.name }}</span>
                                    <span class="remove" data-ng-click="controller.removeLifeEvent(node.id)"></span>
                                </span>
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <label>
        Vapaat asiasanat
        <affecto-help-popup paragraphs='["Vapailla asiasanoilla voidaan tarkentaa muita palvelun kuvailuja ja luokituksia ja parantaa palvelun löytymistä haussa. Vapaita asiasanoja ei näytetä palvelussa loppukäyttäjälle. Syötä vapaa-asiasanakenttään esimerkiksi puhekielisiä sanoja (työkkäri) tai käytöstä poistuneita nimiä (työvoimatoimisto), jolla käyttäjät saattavat etsiä palvelua. Älä syötä vapaisiin asiasanoihin käsitteitä, jotka löytyvät Koko-ontologiasta. Kirjoita asiasanat kenttään pilkulla ja välilyönnillä erotettuina."]' />
    </label>
    <textarea id="serviceKeywords" name="serviceKeywords" data-ng-maxlength="4000" class="form-control" data-ng-model="controller.model.keywordList"></textarea>
    <p aria-live="polite" class="validation-message" data-ng-show="controller.classificationAndOnthologyTermsForm.serviceKeywords.$error.maxlength">Vapaiden asiasanojen yhteispituus on maksimissaan 4000 merkkiä</p>
</div>
