<div class="organization-map editmode services-layer" data-ng-controller="ServiceRegister.ServiceSearchController as controller">
    <div class="map-left-container">
        <div class="map-left">
            <div class="map-content">
                <h2 class="show-desktop">Palvelut</h2>

                <table class="content-table">
                    <tbody>
                    <tr>
                        <th>Palvelun nimi 23344</th>
                    </tr>
                    <tr data-ng-repeat="servicename in controller.model | orderBy: 'name'">
                        <td><a data-ng-href="#/Organizations/{{controller.selectedOrganizationId}}/Services/{{servicename.id}}">{{servicename.name}}</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>