<div class="id-not-active">
    <strong>ID:</strong> {{ controller.model.numericId }}
</div>
<div class="row">
    <div class="col-xs-6">
        <label>Nimi</label>
        <span id="viewServiceName">{{ controller.model.name }}</span>
    </div>
    <div class="col-xs-6">
        <label>Vaihtoehtoinen nimi</label>
        <span id="viewServiceAlternateName">{{ controller.model.alternateName }}</span>
    </div>
</div>
<div class="row">
    <label>Lyhyt kuvaus</label>
    <span id="viewServiceShortDescription" data-ng-bind-html="controller.model.shortDescriptionAsHtml"></span>
</div>

<div class="row">
    <label>Kuvaus</label>
    <span id="viewServiceDescription" data-ng-bind-html="controller.model.descriptionAsHtml"></span>
</div>
<div class="row">
    <label>Toimintaohjeet</label>
    <span id="viewServiceUserInstructions" data-ng-bind-html="controller.model.userInstructionAsHtml"></span>
</div>
<div class="row">
    <label>Palvelun käytön edellytykset</label>
    <span id="viewServiceRequirements" data-ng-bind-html="controller.model.requirementAsHtml"></span>
</div>

<div class="row">
    <div class="col-xs-6">
        <label>Kielet, joilla palvelu on saatavilla</label>
        <span id="viewServiceLanguages">{{ controller.model.languageNameList }}</span>
    </div>
    <div class="col-xs-6">
        <label>Palvelukokonaisuus</label>
        Omassa organisaatiossa ei palvelukokonaisuuksia
    </div>
</div>