<div class="row">
    <div class="col-xs-6">
        <label>Palveluluokat</label>
        <ul id="serviceClassReadOnlyList" class="hierarchical-list">
            <li data-ng-repeat="node in controller.serviceClasses.added | orderBy: 'name'">
                {{ node.name }}
                <ul>
                    <li data-ng-repeat="node in node.children | orderBy: 'name'">
                        {{ node.name }}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="ontologyTermReadOnlyList" class="col-xs-6">
        <label>Ontologiasanat</label>
        <span data-ng-repeat="node in controller.ontologyTerms.added | orderBy: 'name'">{{ node.name }}{{ $last ? '' : ', ' }}</span>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <label>Kohderyhmät</label>
        <ul id="targetGroupReadOnlyList" class="hierarchical-list">
            <li data-ng-repeat="node in controller.targetGroups.added | orderBy: 'name'">
                {{ node.name }}
                <ul>
                    <li data-ng-repeat="node in node.children | orderBy: 'name'">
                        {{ node.name }}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-xs-6">
        <label>Elämäntilanteet</label>
        <ul id="lifeEventReadOnlyList" class="hierarchical-list">
            <li data-ng-repeat="node in controller.lifeEvents.added | orderBy: 'name'">
                {{ node.name }}
                <ul>
                    <li data-ng-repeat="node in node.children | orderBy: 'name'">
                        {{ node.name }}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div id="keywordReadOnlyList" class="row">
    <label>Vapaat asiasanat</label>
    {{ controller.model.keywordList }}
</div> 
